    @import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    @import url('https://fonts.googleapis.com/css?family=Marck+Script');

    body {
        font-family: 'Roboto', sans-serif;
    }

    input {
        background: #ffffff;
        border: 1px solid #e9e9e9;
        font-size: 17px;
        padding: 8px;
        border-radius: 3px;
        font-family: Roboto;
        font-weight: 300;
        width: 50%;
        ;
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 10px;
    }

    button {
        background: #E96546;
        color: #ffffff;
        border: 1px solid #0d1831;
        padding: 5px 10px;
        margin-top: 100px;
        font-size: 15px;
        border-radius: 3px;
    }

    .app_container {
        background: rgb(227, 228, 230);
    }

    /*HEADER*/

    header {
        background-image: linear-gradient(135deg, #E96546 0%, #D79175 40%, rgb(255, 214, 212) 89%);
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 10;
        top: 0;
    }

    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: auto;
        padding: 1rem;
    }

    .header_container .left {
        display: flex;
        align-items: center;
    }

    .brand_logo {
        width: 60px;
        height: 60px;
        position: relative;
        transform: translateY(-12px)
    }

    .brand_text {
        margin-left: 15px;
    }

    .brand_name {
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Gochi Hand', cursive;
        color: #ffffff;
    }

    .brand_text .subtitle {
        color: white;
        text-align: center;
        margin-top: 3px;
    }

    /*HOME-MAINDASHBOARD*/

    .maindashboard_container,
    .userpage_container,
    .registerpage_container {
        display: flex;
        width: 60%;
        margin: auto;
        padding: 150px 0;
        justify-content: space-between;
    }

    .maindashboard_container .left,
    .userpage_container .left,
    .registerpage_container .left {
        width: 60%;

    }

    .maindashboard_container .right,
    .userpage_container .right,
    .registerpage_container .right {
        width: 30%;
    }

    .maindashboard_sidebar_title,
    .maindashboard_event_title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    /*EVENTLIST*/

    .eventslist {}

    /*EVENTLIST FILTER*/
    .eventslist img {
        width: 40px;
    }

    .filter_icon_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .filter_icon_div {

        display: flex;
        padding: 0 10px;
        align-items: center;
        justify-content: flex-end;
        font-weight: bold;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .filter_icon_div:hover {
        background: #dddddd;
        border-radius: 5px;
    }

    .close_div {
        display: none;
    }

    .filter_close_cross {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .filter_wrapper {
        position: relative;
        background: #ffffff;
        padding: 50px;
        margin-bottom: 50px;
        display: none;
        justify-content: center;
        grid-template-columns: 80px 200px;
        grid-template-rows: repeat(5, auto);
        gap: 15px 20px;
        grid-template-areas:
            "category_label category_select"
            "myfriends_label myfriends_select"
            "free_radio free_radio"
            "withkids_radio withkids_radio"
            "filter_button filter_button"

    }

    .open_filter {
        display: grid;
    }

    .category_label {
        grid-area: category_label;
    }

    .category_select {
        grid-area: category_select;
    }

    .myfriends_label {
        grid-area: myfriends_label;
    }

    .myfriends_select {
        grid-area: myfriends_select;
    }

    .free_radio {
        grid-area: free_radio;
    }

    .withkids_radio {
        grid-area: withkids_radio;
    }

    .filter_button {
        grid-area: filter_button;
    }

    /*LIST ITEM*/

    .eventlist_item {
        margin-bottom: 30px;
    }

    .listitem_description {
        display: inline-block;
        min-height: 50px;
    }

    .listitem_attendees {
        display: flex;
        flex-direction: column;
    }

    .listitem_button {
        background: #F7BDBA;
        color: #ffd4d2;
    }

    /*INLINE USERS*/

    .inlineusers_container {
        padding: 10px 0;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 1px 1px 3px rgb(206, 202, 202);
    }

    .inlineuseritem_wrapper {
        height: 50px;
        padding: 1rem;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .inlineuseritem_wrapper:hover {
        filter: grayscale(30%);
    }

    .inlineuseritem_name {
        font-size: 1rem;
        margin-left: 1rem;
    }

    /*USER PAGE*/

    .userpage_container {
        margin: auto;
    }

    /* .userpage_container {
        width: 70%;
        min-height: 100vh;
        padding: 3rem 0;
        margin-top: 80px;
    } */

    .userpage_wrapper {
        width: 70%;
        margin: auto;
    }

    .userpagedescription_container {
        min-height: 100vh;
        background: white;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgb(206, 202, 202);
    }

    .userpage_header {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .userpage_header .name {
        font-size: 2rem;
        margin: 40px 0;
    }

    .userpage_header .citation {
        font-family: 'Marck Script', cursive;
        font-size: 2rem;
        width: 80%;
        text-align: center;
        line-height: 2rem;
    }

    .container_infos_connexion {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }


    .userinfos_container .infos {
        background: rgb(196, 196, 196);
        padding: 10px 0;
        margin: 50px 0;
        text-align: center;
        color: #ffffff;
        font-weight: bold;

    }

    .infos_grid {
        display: grid;
        margin: auto;
        width: 80%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "sexe situation"
            "birthday profession"
            "langages langages"
            "hobbies hobbies"
    }

    .sexe {
        grid-area: sexe;
    }

    .situation {
        grid-area: situation;
    }

    .profession {
        grid-area: profession;
    }

    .birthday {
        grid-area: birthday;
    }

    .langages {
        grid-area: langages;
    }

    .hobbies {
        grid-area: hobbies
    }

    .userdescription_wrapper {
        position: relative;
        width: 500px;
        margin: auto;
    }

    /*=============================
            SIGN IN
===============================*/

    .signin_container {
        margin-top: 80px;
        position: relative;
        height: 100vh;
        overflow: hidden;
        text-align: center;
    }

    .signinform_wrapper {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%);
        top: 20%;
    }

    .signinform_wrapper form {
        width: 1000px;
    }

    .formfields {
        margin-bottom: 15px;
    }

    .signinform_wrapper form button {
        width: 200px;
        padding: 10px;
    }

    .signinform_title {
        font-family: 'Righteous', cursive;
        color: #FFB650;
        font-size: 2.5vw;
        margin-bottom: 40px;
    }

    .carrousel_wrapper {
        filter: opacity(80%);
    }

    .carrousel_image {
        width: 100%;
        background-size: cover;
        filter: grayscale(40%);
    }

    /*=============================
            REGISTER
===============================*/

    .Register_infos {
        background: #ffffff;
        box-shadow: 1px 1px 1px rgb(206, 202, 202);
        text-align: left;
        padding: 50px 50px;
        border-radius: 5px;
    }

    .Register_infos h2 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 40px;
    }

    .Register_infos input {
        background: #E2E3E5;
        border: 1px solid #e9e9e9;
        font-size: 17px;
        padding: 8px;
        border-radius: 3px;
        font-family: Roboto;
        font-weight: 300;
        width: 100%;
        box-sizing: border-box;
    }

    .Register_infos select {
        width: 100%;
    }

    .form_grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(13, auto);
        gap: 15px 20px;
        grid-template-areas:
            "profileimage_label profileimage_label"
            "profileimage_uploader profileimage_uploader"
            "peudo_label email_label"
            "pseudo_input email_input"
            "password_label confpassword_label"
            "password_input confpassword_input"
            "sex_label situation_label"
            "sex_select situation_select"
            "citation_label citation_label"
            "citation_area citation_area"
            "description_label description_label"
            "description_area description_area"
            "submit_button submit_button"

    }

    .profileimage_label {
        grid-area: profileimage_label;
    }

    .profileimage_uploader {
        grid-area: profileimage_uploader;
    }

    .pseudo_label {
        grid-area: peudo_label;
    }

    .pseudo_input {
        grid-area: pseudo_input;
    }

    .email_label {
        grid-area: email_label;
    }

    .email_input {
        grid-area: email_input;
    }

    .password_label {
        grid-area: password_label;
    }

    .password_input {
        grid-area: password_input;
    }

    .confpassword_label {
        grid-area: confpassword_label;
    }

    .confpassword_input {
        grid-area: confpassword_input;
    }

    .sexe_label {
        grid-area: sex_label;
    }

    .sexe_select {
        grid-area: sex_select;
    }

    .situation_label {
        grid-area: situation_label;
    }

    .situation_select {
        grid-area: situation_select;
    }

    .citation_label {
        grid-area: citation_label;
    }

    .citation_area {
        grid-area: citation_area;
    }

    .description_label {
        grid-area: description_label;
    }

    .citation_area {
        grid-area: description_area;
        height: 11.88em !important;

    }

    .submit_button {
        grid-area: submit_button;
        width: 150px;
        justify-self: center;
    }

    /*EVENT PAGE*/

    .enventpagemain_container {
        background: #ffffff;
        min-height: 100vh;
        border-radius: 5px;
    }